.container{
  border: 1px solid #f2f2f2;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #7935dece;
    color: white;
  }
  button{
    border: none;
    background-color: transparent;
  }
  button:hover{
    cursor: pointer;
  }
  .btn{
    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    color: #fff;
  }
  .btn:hover{
    cursor: pointer;
  }
  .deleteBtn{
    background-color: rgb(221, 50, 50);
  }
  .editBtn{
    text-decoration: none;
    background-color: rgb(62, 62, 235);
  }
  .actions{
    display: flex;
    gap: 10px;
    justify-content: center;
  }